.myVideo {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

/* Add some content at the bottom of the video/page */
.content {
  position: relative;
  display: flex;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
  .btn{
    color: white!important;

  }

}
.middleContent{
  @extend .content;
  display: table;
  background: transparent;
  width: 100%;
  text-align: center;
  height: 90vh;
  padding: 15%;
  h1{
    text-align: center;
    color: white;
    font-weight: 800;
  }
  p{
    text-align: center;
    color: white;
    font-weight: 800;
  }
}
