
.benefitsContainer{
  p{
    border-top: 1px solid white;
    color: white;
    font-weight: 800;
    font-size: 30px;
  }
  img{
    float: right;
  }
  ul{
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    li{
      padding: 10px;
      display: flex;
      span{
        color: white;
        padding: 10px;
      }
    }
  }
  background: linear-gradient(to bottom, #af0d5e 0%, #af0d5e 50%, #000000 50%, white 50%, white 100%);
  padding: 10%;
}
