.footerContainer{
  background: #4c134c;
  .imageContainer{
    .largeParagraph{
      color: white;
      text-align: center;
      font-size: 26px;
      font-weight: bold;
      padding-top: 10%;
    }
    .smallParagraph{
      color: white;
      text-align: center;
      font-size: 15px;
      font-weight: 400;
    }
    .images{
      width: 100%;
      text-align: center;
      img{
        width: 260px;
        height: 260px;
      }
    }
  }
}
