body{
  overflow-x: hidden!important;
}
.videoFragment{
  display: block;
  position: relative;
}
.secondVideoFragment{
  display: flex;
  justify-content: space-evenly;
  background: linear-gradient(to bottom, white 0%, #af0d5e 50%, #000000 50%, #af0d5e 50%, #af0d5e 100%);
}
