.advantagesContainer{
  background: #f3f0f0;
  .iconsContainer{
    text-align: center;
    background: white;
    width: 75%;
    margin-left: 12.5%;
    .boldParagraph{
      font-weight: 800;
      font-size: 26px;
    }
    .smallSpan{
      font-weight: 100;
      font-size: 12px;
      color: gray;
    }
  }
}
